[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "~=2.7"
ipython = "*"
pytest = "*"
pytest-django = "*"

[packages]
pytz = "2021.1"
django-webpack-loader = "==0.7.0"
django-paypal = "~=1.0"
m2crypto = "==0.37.1"
mysqlclient = "2.0.3"
python-dotenv = "==0.15.0"
django = "==3.1.8"

[requires]
python_version = "3.6"
