[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "*"
pytest-django = "*"

[packages]
django = "~=3.0"
pytz = "*"
django-webpack-loader = "*"
django-paypal = "~=1.0"
m2crypto = "*"
mysqlclient = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
