<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <title>Lesson Reminder</title>
    </head>
    <body>
        <div style="padding: 5px; text-align: center; background: #2f3253;">
            <h1 style="font-family: 'Roboto'; font-size: 40px;">
                <span style="color: #FFF176;">Poly</span><span style="color: #FF8A65;">glossa</span>
            </h1>
        </div>

        <div style="font-size: 18px;">
            <p> 
                Don't forget your upcoming Polyglossa seminar!
            </p>

            <p>
                Your seminar will be live for 24 hours @ {{ slot.start_datetime }} UTC
            </p>

            <p> 
                The seminar can be accessed with the following
                <a href="https://www.polyglossa.com{{ slot.get_absolute_url }}">link</a>
            </p>

            <p> See you soon!, <br> Polyglossa Team </p>
        </div>
    </body>
</html>