<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="header" style="padding: 5px; text-align: center; background: #2f3253;">
            <h1 style="font-family: 'Roboto'; font-size: 40px;">
                <span style="color: #FFF176;">Poly</span><span style="color: #FF8A65;">glossa</span>
            </h1>
        </div>

        <div class="content" style="font-size: 18px;">
            {% block content %} {% endblock %}

            <h3> Polyglossa Team </h3>
        </div>
    </body>
</html>