<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="https://vignette.wikia.nocookie.net/flusak1235-wiki/images/6/64/Favicon.ico/revision/latest?cb=20190427084519">
        <title></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    </head>
  
    <body>
        <h1>Polyglossa Payments!</h1>
        <!-- writes out the form tag automatically -->
        {{ form.render }}
    </body>
</html>