'''
Local django settings needed
to run the setup and hides secrets.

Not versioned controlled and needs
to be setup manually.
'''

# site settings

DEBUG = True
SECRET_KEY = 'SECRETEXAMPLEKEYTHATSHOULDNOTBEUSED'
SESSION_COOKIE_SECURE = True

ALLOWED_HOSTS = [
    '127.0.0.1',
]

# paypal settings

CERT_PATH = '../cert/secret_examples'

PAYPAL_TEST = True  # set to False to not use sandbox
PAYPAL_EMAIL = 'the paypal seller email'
PAYPAL_CERT_ID = 'get this from paypal'
